 .Admin {
     .login-container {
         max-width: 400px;
         margin: 120px auto;
         padding: 20px;
         border: 1px solid var(--sky);
         border-radius: 5px;
         background-color: var(--lightBlue);
         box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
         text-align: center;

         form {
             margin-bottom: 20px;

             input {
                 width: 100%;
                 padding: 10px;
                 border: 1px solid var(--darkSky);
                 border-radius: 5px;
                 margin: 10px 0;
             }

             input[type=submit] {
                 background-color: var(--sky);
                 color: var(--white);
                 border: none;
                 border-radius: 5px;
                 padding: 10px 20px;
                 cursor: pointer;
                 transition: background-color 0.3s;

                 &:hover {
                     background-color: var(--darkSky);
                 }
             }
         }
     }
 }

 @media (max-width: 470px) {
     .Admin {
         .login-container {
             margin: 120px 20px;
         }
     }
 }